extends layout
block content
      .maincontent
        .formHold
          h1.itemtitle Add a Question
          form(method = "POST")
            fieldset
              label(for= "question") Asana Name in English:
              input(name= "question", type = "text", placeholder = "question") 
              label(for= "answer") Asana Name in Sanskrit:
              input(name= "answer", type = "text", placeholder = "answer")
              
              button.button(type="submit") Create the question