extends layout
block content
      .maincontent
        .formHold
          h1.itemtitle Add an Asana
          form(method = "POST")
            fieldset
              label(for= "englishname") Asana Name in English:
              input(name= "englishname", type = "text", placeholder = "english name") 
              label(for= "sanskritname") Asana Name in Sanskrit:
              input(name= "sanskritname", type = "text", placeholder = "sanskrit name")
              label(for= "comments") Comments:
              input(name= "comments", type = "text", placeholder = "comments") 
              label(for= "link") Link:
              input(name= "link", type = "text", placeholder = "something.com") 
              button.button(type="submit") Create the asana