extends layout
block content
      .maincontent
        .intro
          p
            | I have been taking part in the Integrated Dance certification program organised and taught by Ashley Lopez.
            | The program is geared at Bellydancers instructors and aims at providing them with the tools to make them the best instructors they can be.
            | To certify, Students have 12 days of instructions held in phase 1 and 2 where they will be taught about anatomy, yoga, pilates, music theory, musicality, choreography, building combos. Each student is given a chance to instruct the rest of the class and get feedback on their instruction
        .row
          .left
            h2 Muscles
            p
              | One of the main focus in the  in anatomy that comprises bones and muscles . Students are expected to learn the names, insertion, origin and action of the muscles .  One benefit of having a good understanding of how muscles work for instructors is to be able to instruct in a way that is not only safe but benefitial to their students bodies
          .right
            h2 Yoga Asanas
            p
              | Yoga is another big focus of the program is Yoga Asanas that can be used in warm up, conditioning or cool down sessions of a dance class.
        .conclusion
          h2 How this website can help
          p
            | The idea is to offer fellow and future students a tool to recap and list on  muscles and yoga asanas.
