doctype html
html
  head
    title isabelle Bidou- Web Application Development - CA3
    meta(charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='../app.css', type='text/css')
    script.
      // $(document).ready(function() {
      // $("#mobilemenu").mouseout(function() {
      // $("#mobilemenu").hide();
      // });
      // });
      $(window).resize(function(){location.reload();}); 
      $(document).ready(function() {
      $("#menubutton").mousin(function() {
      $("#mobilemenu").show();
      });
      });
      $(document).ready(function() {
      $("#mobilemenu").hide();
      });
      $(document).ready(function() {
      $(".mobilemenuli,#menubutton").click(function(){
      $("#mobilemenu").toggle();
      });
      });
  body
    #container
      .header
        .imhold
          img#logo.logoimg(alt='logo', src='/logowhiteresized.png')
        h1.headertitle My Integrated Dance Instruction Program Experience
        .navhold
          .topnav
            a(href='/') Home
            a(href='/muscles') Muscles
            a(href='/createmuscle') add Muscles
            a(href='/asanas') Yoga asanas
            a(href='/createasana') add Yoga asanas
            a(href='/quiz') Quiz
            a(href='/addquestion') add a Question
            a(href='/login') Login
            a(href='/register') Register
            a(href='/logout') Logout
      block content
      button#menubutton
        | menu
      #mobilemenu
        ul#mobilemenuul
          li
            a.mobilemenuli(href='/') Home
          li
            a.mobilemenuli(href='/muscles') Muscles
          li
            a.mobilemenuli(href='/createmuscle') add Muscles
          li
            a.mobilemenuli(href='/asanas') Yoga asanas
          li
            a.mobilemenuli(href='/createasana') add Yoga asanas
          li
            a.mobilemenuli(href='/quiz') Quiz
          li
            a.mobilemenuli(href='/addquestion') add a Question
          li
            a.mobilemenuli(href='/login') Login
          li
            a.mobilemenuli(href='/register') Register
          li
            a.mobilemenuli(href='/logout') Logout
    .footer
          p 
             | Isabelle Bidou - copyright 2018
             