doctype html
html
  head
    title isabelle Bidou- Web Application Dedelopment - CA3
    meta(charset='UTF-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='app.css', type='text/css')
  body
    #container
      .header
        .imhold
          img#logo.logoimg(alt='logo', src='/logowhiteresized.png')
        h1.headertitle My Integrated Dance Instruction Program Experience
        .navhold
          .topnav
            a(href='/') Home
            a(href='#') Muscles
            a(href='#') Yoga asanas
            a(href='#') Quiz
      .maincontent
        .intro
          p
            | I have been taking part in the Integrated Dance certification program organised and taught by Ashley Lopez.
            | The program is geared at Bellydancers instructors and aims at providing them with the tools to make them the best instructors they can be.
            | To certify, Students have 12 days of instructions held in phase 1 and 2 where they will be taught about anatomy, yoga, pilates, music theory, musicality, choreography, building combos. Each student is given a chance to instruct the rest of the class and get feedback on their instruction
        .row
          h1 muscles
        .conclusion
          h2 How this website can help
          p
            | The idea is to offer fellow and future students a tool to recap and list on  muscles and yoga asanas.
      .footer
        p
          | copyright 2018