extends layout
block content
      .maincontent
        .intro
          p
            | I have been taking part in the Integrated Dance certification program organised and taught by Ashley Lopez.
            | The program is geared at Bellydancers instructors and aims at providing them with the tools to make them the best instructors they can be.
            | To certify, Students have 12 days of instructions held in phase 1 and 2 where they will be taught about anatomy, yoga, pilates, music theory, musicality, choreography, building combos. Each student is given a chance to instruct the rest of the class and get feedback on their instruction
        .row
          h1 muscles
        .conclusion
          h2 Here are the main muscles you will have to study
            .grid-container
              each row in res1
                .item
                  h1.itemtitle #{row.Name}
                  label origin: 
                  p.itemp #{row.Origin}
                  label insertion: 
                  p.itemp #{row.Insertion}
                  label action: 
                  p.itemp #{row.Action}
        